__pycache__/
**/process_swebench.py
scripts/SRC
**/.venv
**/patch.diff
rebuttal
analysis/figs/*
analysis/false_prediction_reports/*
scripts/validators/temp.py
scripts/output.csv
scripts/output.xml
scripts/test.db
results/